<div class="panel panel-info">
    <div class="panel-heading">Projects</div>
    <div class="panel-body">
        <table ng-show="repositories.length > 0" st-table="repositories"  st-safe-src="repos" class="table table-striped">
            <thead>
            <tr>
                <th colspan="4"><input st-search="" class="form-control" placeholder="filter project by name or url" type="text"/></th>
            </tr>
            <tr>
                <th st-sort="name">Name</th>
                <th st-sort="url">URL</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="repository in repositories">
                <td>{{repository.name}}</td>
                <td><a ng-href="{{repository.url}}" target="_blank">{{repository.url}}</a></td>
                <td><a ui-sref="projects_details.info({id: repository.id})"><i class="fa fa-search-plus"></i></a></td>
                <td><a href ng-click="update(repository)"><i class="fa fa-refresh {{ (repository.loading)? 'fa-circle-o-notch fa-spin' : ''}}"></i></a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="text-center" ng-show="repositories.length ==0">
        <h4>No projects yet</h4>
    </div>
</div>
</div>
