<div class="panel panel-info">
    <div class="panel-heading">New Project</div>
    <div class="panel-body">
        <div ng-show="loading">
            <h4> <span>Loading Project</span> <i class="fa fa-circle-o-notch fa-spin"></i></h4>
        </div>
        <div ng-show="!loading" >
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Project Name" ng-model="project.name" required/>
                    <input type="text" class="form-control large" name="url" placeholder="Project URL" ng-model="project.url" required/>
                </div>
                <button class="btn btn-small btn-primary" ng-click="create()" ng-disabled="!project.name || !project.url"><span class="fa fa-upload"></span></button>
            </form>
        </div>
    </div>
</div>
