<div class="panel panel-info">
    <div class="panel-heading">New Diff</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5 pull-left">
                <label>Old</label>
                <div class="form-group" >
                    <select class="form-control" ng-model="oldBranch"
                            ng-options="branch.id as branch.name for branch in branches">
                    </select>
                </div>
                <div class="form-group">
                    <select ng-show="oldBranch" class="form-control" ng-model="oldGemfileVersion"
                            ng-options="gemfileVersion.id as (gemfileVersion.date | date: 'medium') for gemfileVersion in oldGemfileVersions">
                    </select>
                </div>
            </div>
            <div class="col-md-5 pull-right">
                <label>New</label>
                <div class="form-group" >
                    <select class="form-control" ng-model="newBranch"
                            ng-options="branch.id as branch.name for branch in branches">
                    </select>
                </div>
                <div class="form-group">
                    <select ng-show="newBranch" class="form-control" ng-model="newGemfileVersion"
                            ng-options="gemfileVersion.id as (gemfileVersion.date | date: 'medium') for gemfileVersion in newGemfileVersions">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <button class="btn btn-primary"ng-click="view()">Diff</button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">Diff</div>
    <div class="panel-body">
        <div ng-if="diff" class="container">
            <div class="row">
                <i class="fa fa-plus-circle"></i><strong>Included</strong>
                <dl ng-if="diff.included.length" class="dl-horizontal" ng-repeat="item in diff.included">
                    <dt>{{item.gem_name}}</dt>
                    <dd>{{item.version}}</dd>
                </dl>
                <p ng-if="!diff.included.length">None</p>
            </div>
            <div class="row">
                <i class="fa fa-minus-circle"></i><strong>Removed</strong>
                <dl ng-if="diff.removed.length" class="dl-horizontal" ng-repeat="item in diff.removed">
                    <dt>{{item.gem_name}}</dt>
                    <dd>{{item.version}}</dd>
                </dl>
                <p ng-if="!diff.removed.length">None</p>
            </div>
            <div class="row">
                <i class="fa fa-refresh"></i><strong>Updated</strong>
                <dl ng-if="diff.updated.length" class="dl-horizontal" ng-repeat="item in diff.updated">
                    <dt>{{item.gem_name}}</dt>
                    <dd>{{item.version}}</dd>
                </dl>
                <p ng-if="!diff.updated.length">None</p>
            </div>
            <div class="row">
                <i class="fa fa-square"></i><strong>Unchanged</strong>
                <dl ng-if="diff.unchanged.length" class="dl-horizontal" ng-repeat="item in diff.unchanged">
                    <dt>{{item.gem_name}}</dt>
                    <dd>{{item.version}}</dd>
                </dl>
                <p ng-if="!diff.unchanged.length">None</p>
            </div>
        </div>
    </div>
    <div ng-if="!diff" class="text-center container">
        <h4>Choose 2 gemfile versions for comparison</h4>
    </div>
</div>