<div ng-controller="DiffController" class="panel panel-info">
    <div class="panel-heading">New Diff</div>
    <div class="panel-body">
        <form class="form-inline">
            <select class="form-control" ng-model="oldBranch" ng-options="branch.id as branch.name for branch in branches">
            </select>
            <select class="form-control" ng-model="oldGemfileVersion" ng-options="gemfileVersion.id as gemfileVersion.date for gemfileVersion in oldGemfileVersions">
            </select>
            <select class="form-control" ng-model="newBranch" ng-options="branch.id as branch.name for branch in branches">
            </select>
            <select class="form-control" ng-model="newGemfileVersion" ng-options="gemfileVersion.id as gemfileVersion.date for gemfileVersion in newGemfileVersions">
            </select>
            <button ng-click="view()" class="btn btn-primary"><i class="fa fa-search-plus"></i><span>View</span></button>
        </form>
    </div>
</div>
